/*
 Project Name:   User Base
 Version:        0.1.0
*/

/* Base */
html {
	direction: ltr;
}

body{
    background-color: $color-body-bg;
}

body {
	background-color: $color-body-bg;
	color: #606060;
	font-family: $font-body;
	font-size: 15px;
	margin: 0;
	overflow-x: hidden;
}

/* Layout */
.container{
	max-width:1170px;
	width:100%;
}
.dummy-page-content{
	padding: 50px 0;
}

/* Typo - Heading */
h1, h2, h3, h4, h5, h6 {
	color: $color_title;
	margin: 0 0 24px;
}

h4, h5, h6 {
	margin: 0 0 20px;
}

h1 {
	font-size: 60px;
	line-height: 64px;
}

h2 {
	font-size: 50px;
	line-height: 54px;
}

h3 {
	font-size: 40px;
	line-height: 44px;
}

h4 {
	font-size: 30px;
	line-height: 34px;
}

h5 {
	font-size: 20px;
	line-height: 27px;
}

h6 {
	font-size: 14px;
	line-height: 18px;
}

/* Typo */
p{
	line-height: 1.9;
	&:last-child{
		margin-bottom: 0;
	}
}

/* Browser Overwrites */
a, button, .btn{
	&:hover, &:focus, &.active{
		a:hover,a:focus,a.active,.btn:hover,.btn:focus,.btn.active{
			text-decoration: none;
			outline: none;
		}
	}
}

/* Link */
.a.link, .link{
	color: $color_theme;
	text-decoration: underline;
}

/* Button */
.btn{
	text-transform: capitalize;
	letter-spacing: 1px;
	&:hover, &:focus, &.active{
		box-shadow: 0 20px 24px 0 rgba(0,11,40,.1);
	}
	&-primary{
		background-color: $color_theme_btn_bg;
		border: 2px solid $color_theme_btn_border;
	}
}

// Header
.navbar-brand{
    img{
        max-width: 170px;
    }   
}

// Page Title
.jumbotron{
	background: transparent;
	padding: 40px 0;
	margin-bottom: 0;
	border-bottom: 1px solid #e1e1e1;
	h1{
		font-size: 30px;
		margin-bottom: 0;
		line-height: 36px;
	}
}
// Error Page
.error-page{
	min-height: 500px;
	position: relative;
	text-align: center;
	.error-content{
		position: absolute;
		transform: translateY(-50%);
		top: 50%;
		left: 0;
		right: 0;
	}
	h1{
		font-weight: 800;
		font-size: 70px;
	}
}
// Home
.home{
	min-height: 500px;	
}
.home-content{
	padding: 50px 0;
	.nav-tabs{
		margin-bottom: -1px;
	}
}
.tab-content{
	border: 1px solid #e1e1e1;
	padding: 30px 30px;
	.table th, 
	.table td{
		border-top: none;
		vertical-align: middle;
	}
	thead th{
		border-bottom: 1px solid #e1e1e1;
	}
	tbody{
		tr:hover{
			cursor: pointer;
		}
		td img{
			max-width: 70px;
			border-radius: 50%;
		}
	}
	.pagination{
		justify-content: center;
		padding-top: 30px;
		border-top: 1px solid #e1e1e1;
	}
	.avatar-col{
		text-align: center;
		border: 1px solid #e1e1e1;
		padding: 30px 20px;
		border-radius: 4px;
		label{
			display: block;
			margin-bottom: 15px;
			font-size: 18px;
		}
		img{
			border-radius: 50%;
		}
	}
}

// Profile 
.form-update{
	.btn{
		margin-left: 15px;
		margin-top: 15px;
	}
}


// Footer 
footer{
    position: relative;
    text-align: center;
    background: #F4F5F7;
    padding: 20px 0;
    border-top: 1px solid #e1e1e1;
    p{
        font-size: 18px;
        font-weight: 300;
        margin: 0;
    }
}