/* Font Family */
$font_body : 'Montserrat', sans-serif;
$font_title : 'Montserrat', sans-serif;
$font_paragraph : 'Montserrat', sans-serif;
$font_link : 'Montserrat', sans-serif;
$font_button : 'Montserrat', sans-serif;


/* Default Skin */
$color_body-bg: #fff;
$color_paragraph: #606060;
$color_title: #262626;

/* Theme Skin */
$color_theme: #1919cf;
$color_theme_link:  $color_theme;

/* Button */
$color_theme_btn_bg: #1919cf;
$color_theme_btn_border: #1919cf;

/* Typo */